<h1>Editing curriculum</h1>

<%= render "form", curriculum: @curriculum %>

<br>

<div>
  <%= link_to "Show this curriculum", @curriculum %> |
  <%= link_to "Back to curriculums", curriculums_path %>
</div>
