<div id="<%= dom_id listing %>">
  <p>
    <strong>Retailer:</strong>
    <%= listing.retailer_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= listing.product_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

</div>
