<div id="<%= dom_id shop %>">
  <p>
    <strong>Shop number:</strong>
    <%= shop.shop_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shop.address %>
  </p>

  <p>
    <strong>At kohls:</strong>
    <%= shop.at_kohls %>
  </p>

</div>
