<p style="color: green; text-align: center;"><%= notice %></p>

<div style="margin: 20px; padding:10px; text-align:center;">
  <h1>Manage Testers</h1>
</div>

<div class="container">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="display: flex;
    justify-content: center; align-items: center;">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-dark" for="btnradio1">Backstage Testers</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-dark" for="btnradio2">Approve Testers</label>
  </div> 
</div>

<%= render "testers/backstage_testers" %>


<!--Backstage and Onstage button functionality in 'Manage Testers' view-->
<script>
 $("#btnradio2").click(function() {
  $(".backstage_testers").html('<%= j render "onstage_testers" %>');
});

 $("#btnradio1").click(function() {
  $(".backstage_testers").html('<%= j render "backstage_testers" %>');
});
</script>
