<div id="<%= dom_id store %>">
  <p>
    <strong>Store number:</strong>
    <%= store.store_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>At kohls:</strong>
    <%= store.at_kohls %>
  </p>

</div>
