<div class="text-center text-white bg-dark p-10 mb-5">
  <h1>PerfectPals: Where Trust Meets Home</h1>
</div>

<div class="container">

  <div id="users">
    <div class="d-flex flex-wrap gap-1 justify-content-around">
      <% @users.each do |user| %>
        <%= render "users/card", user: user %>
      <% end %>
    </div>
  </div>
</div>

</div>
