<div class="p-5 mb-5 bg-dark text-center text-white">
  <h2 class="my-4">PerfectPals: Where Trust Meets Home</h2>
  <div class="container mb-4"><p>a roommate-finding app designed to help users connect with reliable and trustworthy roommates.<br>By calculating a trust score, it makes shared living safer and more predictable <br>for individuals in need of affordable housing.</p></div>
</div>

<div class="container">

  <div id="users">
    <div class="d-flex flex-wrap gap-1 justify-content-around">
      <% @users.each do |user| %>
        <%= render "users/card", user: user %>
      <% end %>
    </div>
  </div>
</div>

</div>
