<div class="flex-grow-1 text-center my-3">
  <div class="mt-5"><%= image_tag "barrier.png", width: 140 %></div>
  <div class="mt-5 text-muted">
  <h4>Sorry, we're under construction</h4>
  <p>This page is coming soon...</p>
  </div>

  <%= button_to "Go Back", "/", method: :get, class: "btn btn-yellow mt-4" %>

</div>
