<% if notice.present? || alert.present? %>
  <div class="alert alert-<%= notice.present? ? 'success' : 'danger' %> alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x z-index-1051" role="alert" id="autoDismissAlert">
    <%= notice || alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <script>
    setTimeout(function() {
      var alert = document.getElementById('autoDismissAlert');
      if (alert) {
        alert.classList.remove('show');
        alert.classList.add('fade');
      }
    }, 3000);
  </script>
<% end %>
