<main class="main">
  <section class="hero-section" style="width: 100vw; height: 100vh;">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Highlighting the <br>
            <span class="emphasized-low-word">(low)</span> price of beauty.</h1>
          <p class="col-lg-10 fs-4"><span class="coming-soon">The Prettiest Price is coming soon! <br>
            </span>
            <span class="landing-page-copy">
              Join us on our mission to help shoppers find the best deals on all things beauty and personal care. Sign-up for the waitlist! 
              <br>
            </span>
          </p>

        </div>
        <%= render partial: "waitlist_entries/form"%>
      </section>

    </main>
