<p style="color: green"><%= notice %></p>

<h1>Schools</h1>

<div id="schools">
  <% @schools.each do |school| %>
    <%= render school %>
    <p>
      <%= link_to "Show this school", school %>
    </p>
  <% end %>
</div>

<%= link_to "New school", new_school_path %>
