/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Make sure the green outline is applied to all form fields */
input:focus, 
textarea:focus, 
select:focus, 
.form-control:focus {
  outline-color: #4CAF50 !important;  /* Green outline */
  border-color: #4CAF50 !important;   /* Green border */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6) !important; /* Green shadow */
}


 .hint{
  color: grey;
  font-size: 0.8em;
}

.text-green {
  color: green;
}

.hover-card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s; /* Smooth transition for hover */

}

.hover-card-body {
  flex-grow: 1; /* Makes the body fill the available space */
}

.hover-card:hover {
  background-color: #e8f5e9;
  cursor: pointer;   
  transform: scale(1.01);       
}

.card-img-top {
  transition: opacity 0.3s ease;
}

.card-img-top:hover {
  opacity: 0.7;
}

.social-icon {
  color: green;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.7; /* Fades the icon when hovered */
}

.form-control::placeholder {
  color: #a9a9a9;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

/* Optional: Change the color of the track */
input[type="range"] {
  accent-color: green; /* For modern browsers */
}
