/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
input:focus, 
textarea:focus, 
select:focus, 
.form-control:focus {
  outline-color: #f0a955 !important;  
  border-color: #f0a955 !important;   
  box-shadow: 0 0 5px #fdeacc !important; 
}


 .hint{
  color: grey;
  font-size: 0.8em;
}

.text-purple {
  color: #7b7df4;
}

.hover-card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s; 

}

.hover-card-body {
  flex-grow: 1; 
}

.hover-card:hover {
  background-color: #fdeacc;
  cursor: pointer;   
  transform: scale(1.01);       
}

.card-img-top {
  transition: opacity 0.3s ease;
}

.card-img-top:hover {
  opacity: 0.7;
}

.social-icon {
  color: #5c5ed1;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.7;
}

.form-control::placeholder {
  color: #a9a9a9;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container iframe {
  width: 100%; 
  max-width: 800px;
  height: 450px; 
}

.modal-video {
  background-color: black;
}

.custom-light-gray {
  background-color: #f1f1f1;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert {
  animation: slideInFromTop 0.5s ease-out;
}

.navbar {
  z-index: 1040 !important;
}

.alert {
  z-index: 1051 !important;
}

.btn-success {
  background-color: #7b7df4 !important;
  border-color: #7b7df4 !important;
  color: white !important;
}

.btn-success:hover {
  background-color: #5c5ed1 !important;
  border-color: #5c5ed1 !important;
  color: white !important;
}

.btn-outline-success {
  border-color: #7b7df4 !important;
  color: #7b7df4 !important;
}

.btn-outline-success:hover {
  background-color: #7b7df4 !important;
  color: white !important;
}

.btn-yellow {
  background-color: #f0a955 !important;
  border-color: #f0a955 !important;
  color: white !important;
}

.btn-yellow:hover {
  background-color: #e6893e !important;
  border-color: #e6893e !important;
  color: white !important;
}

.btn-outline-yellow {
  border-color: #f0a955 !important;
  color: #f0a955 !important;
}

.btn-outline-yellow:hover {
  background-color: #f0a955 !important;
  color: white !important;
}

.pagination .page-item .page-link {
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.pagination .page-item.active .page-link {
  color: white; 
  background-color: #7b7df4;
  border-color: #7b7df4; 
}

.pagination .page-item.disabled .page-link {
  color: #6c757d; 
  background-color: #f8f9fa; 
  pointer-events: none;
}


.pagination .page-item:not(.disabled) .page-link:hover {
  color: white; 
  background-color: #7b7df4;
  border-color: #7b7df4; 
}

.breadcrumb-item a {
  color: #7b7df4 !important;
}

.position-relative {
  position: relative;
}

.card {
  position: relative;
}

.star-container {
  position: absolute;
  bottom: -30px; 
  right: 15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  width: 55px;
}

.trust-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.always-scrollable {
  max-height: 400px;
  overflow-y: scroll !important;
}

.always-scrollable::-webkit-scrollbar {
  width: 8px;
}

.always-scrollable::-webkit-scrollbar-thumb {
  background-color: #888; 
}

.always-scrollable::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.message-item:hover {
  background-color: #fdeacc;
  text-decoration: none;
}


.custom-border {
  border: 1px solid #ddd;
  border-radius: 0.25rem; 
}

.avatar {
  object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
  width: 250px; /* Matches the width set in the Rails code */
  height: 250px; /* Matches the height set in the Rails code */
  display: block; /* Prevents any inline gaps */
}

.card-avatar-container {
  width: 100%; /* Full card width */
  height: 286px; /* Automatic height based on image ratio */
  overflow: hidden; /* Crop the image */
  border-top-left-radius: 5px; /* Rounded corner on top-left */
  border-top-right-radius: 5px; /* Rounded corner on top-right */
}

.card-avatar {
  width: 100%; /* Responsive width */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Crop and fill the container */
}
