/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .pagination {
  display: inline-flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #000000 !important; 
  background-color: #6c757d; 
  border: 1px solid #6c757d;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
}

.page-link:hover {
  background-color: #5a6268;
  border-color: #5a6268;
  color: #ffffff; 
}

.page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
  color: #ffffff !important;
}

.page-item.disabled .page-link {
  background-color: #e9ecef; 
  border-color: #e9ecef;
  color: #6c757d; 
}
