body {
  background-color: #d2bfc0; 
  height:100vh;
}

#background-img{
  background-image: url('/images/background-2.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
}

.emphasized-low-word{
  color: #F84791;
}
.coming-soon{
  color: black;
}
.landing-page-copy{
  color:black;

}
.landing-page-logo {
}
#join-waitlist-btn {
  background-color: #F84791;
  color: white;
}
.error-msg {
  min-height: 100vh;
}
