<!DOCTYPE html>
<html>
  <head>
    <title>Tester Tracker</title>
    <%= render "shared/application_links"%>
  </head>

  <body style="font-family: 'Afacad Flux', sans-serif;">

    <%= render "shared/navbar" %>

    <%= render "shared/breadcrumbs" %>

    <%= yield %>

  </body>

</html>
